<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h2>Artificial Intelligence</h2>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
</div>





<!-- Start Services Details Area -->
<section class="services-details-area ptb-80">
    <div class="container">
        <div class="row ">
            <div class="col-lg-6 services-details">
                <div class="services-details-desc wow fadeInUp mob_view" data-wow-duration="0.6s" data-wow-delay="2s"
                    style="text-align: justify">

                    <div class="section-title" style="text-align: left;">
                        <h2>Artificial Intelligence</h2>
                        <div class="bar" style="float: left"></div>

                    </div>
                    <p class="mob_view">Artificial Intelligence is the process of machine learning and performing the
                        tasks which are related to human characteristics. In simple words, the ability to discover new
                        things, reasoning, understanding, or learning from experiences is called Artificial Intelligence
                        or AI. </p>

                    <p>First programmed in the 1930s by a British logician Alan Turing, Artificial Intelligence has come
                        a far way. Now we can use Artificial Intelligence in many fields, and it can really reduce the
                        time gap while delivering the same work in much less time.</p>
                </div>
            </div>

            <div class="col-lg-6 services-details-image">
                <img src="assets/img/hike/ai22.png" class="wow fadeInUp" data-wow-delay="0.6s" alt="image">
            </div>
        </div>

        <div class="separate"></div>

        <div class="row align-items-center">
            <div class="col-lg-6 services-details-image">
                <img src="assets/img/hike/ai32.png" class="wow fadeInUp" style="width: 390px" data-wow-delay="0.6s"
                    alt="image">
            </div>

            <div class="col-lg-6 services-details">
                <div class="services-details-desc wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s"
                    style="text-align: justify">
                    <p>We can use Artificial Intelligence for validating things, verification, safety procedures, etc.,
                        where it can notify us beforehand if there is any problem that can be averted.</p>
                    <p>Today, maximum companies are investing in Artificial Intelligence and creating an advanced
                        version of AI for our future benefits. Artificial Intelligence can help us in emergencies where
                        it can complete the basic task of informing the nearest hospitals or police authorities. With
                        Artificial Intelligence we can build a safe future for us and our children.</p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Details Area -->