<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h2>Pinterest</h2>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
</div>





<!-- Start Services Details Area -->
<section class="services-details-area ptb-80">
    <div class="container">
        <div class="row ">
            <div class="col-lg-6 services-details">
                <div class="services-details-desc wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s"
                    style="text-align: justify">

                    <div class="section-title" style="text-align: left;">
                        <h2>Pinterest </h2>
                        <div class="bar" style="float: left"></div>

                    </div>

                    <p class="mob_view">
                            <b>Pinterest</b> is a melting pot of creativity and new ideas. 
                            People go to Pinterest to get inspired and use that creativity elsewhere.
                             There are over 200 million users active on Pinterest, and 2/3rd of pinners 
                             think that they have discovered a new brand on <b>Pinterest</b>. 
                            In today market, you just don’t need good food but also cool and unique 
                            interior that will entice customers. Once you have a funky interior,
                             you can display that on <b>Pinterest</b> and let your customers share it. 
                    </p><p>
                             If not for food, they will visit your restaurant for cool interior
                              and share it on their social media. You can upload photos 
                              and short videos on <b>Pinterest</b> of your dishes which are unique in your area. 
                              E.g. some jumbo burger, biggest sundae ice-cream, overload milkshake etc.,
                              whatever is the most unique selling point of your restaurant, sell it on <b>Pinterest</b>.
                              And, how does it work?
                    </p>
                </div>
            </div>

            <div class="col-lg-6 services-details-image">
                <img src="assets/img/hike/socialmedia-marketing/pinterest-1.png" class="wow fadeInUp" style="width: 460px;" data-wow-delay="0.6s"
                    alt="image">
            </div>
        </div>

        <div class="separate"></div>

        <div class="row align-items-center">
            <div class="col-lg-6 services-details-image">
                <img src="assets/img/hike/socialmedia-marketing/pinterest-21.png" class="wow fadeInUp" style="width: 390px" data-wow-delay="0.6s"
                    alt="image">
            </div>

            <div class="col-lg-6 services-details">
                <div class="services-details-desc wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s"
                    style="text-align: justify">
                    <p>
                            To give you an overview of <b>Pinterest</b>, you need to create your own board where you pin your favourite 
                            ideas and photos. If you keep it open to the public, the rest of the audience can view your board and
                             save it if they like or share it. There are also feeds like any other social media platform,
                              and there are approximately 100 billion pins to date;
                             so, now we can imagine the capacity that <b>Pinterest</b> possesses.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Details Area -->