<section class="feedback-area ptb-80 bg-f7fafd">
    <div class="container">
        <div class="section-title">
            <h2>Our Partner</h2>
            <div class="bar"></div>

        </div>

        <div class="feedback-slides">
            <div class="client-feedback">
                <div>
                    <ngx-slick-carousel class="carousel feedback" #slickModal="slick-carousel" [config]="imagesSlider">

                        <div ngxSlickItem class="item slide">
                            <div class="single-feedback">

                                <p>Our technological partners stand by us in our quest to develop groundbreaking
                                    software and refine our understanding of the modern-day challenges. Together we
                                    share technology that holds the key to the future.
                                </p>
                                <div class="client-img">
                                    <img src="assets/img/hike/client1.png" alt="image">
                                    <div class="title">
                                        <h3>Adobe</h3>
                                        <span>Enterprise Partner</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ngxSlickItem class="item slide">
                            <div class="single-feedback">

                                <p> Our technological partners stand by us in our quest to develop groundbreaking
                                    software and refine our understanding of the modern-day challenges. Together we
                                    share technology that holds the key to the future.
                                </p>
                                <div class="client-img">
                                    <img src="assets/img/hike/client2.png" alt="image">
                                    <div class="title">
                                        <h3>Microsoft</h3>
                                        <span>Enterprise Partner</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ngxSlickItem class="item slide">
                            <div class="single-feedback">

                                <p> Our technological partners stand by us in our quest to develop groundbreaking
                                    software and refine our understanding of the modern-day challenges. Together we
                                    share technology that holds the key to the future.
                                </p>
                                <div class="client-img">
                                    <img src="assets/img/hike/client3.png" alt="image">
                                    <div class="title">
                                        <h3>IBM</h3>
                                        <span>Enterprise Partner</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ngxSlickItem class="item slide">
                            <div class="single-feedback">

                                <p> Our technological partners stand by us in our quest to develop groundbreaking
                                    software and refine our understanding of the modern-day challenges. Together we
                                    share technology that holds the key to the future.
                                </p>
                                <div class="client-img">
                                    <img src="assets/img/hike/client4.png" alt="image">
                                    <div class="title">
                                        <h3>DELL</h3>
                                        <span>Enterprise Partner</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ngxSlickItem class="item slide">
                            <div class="single-feedback">

                                <p> Our technological partners stand by us in our quest to develop groundbreaking
                                    software and refine our understanding of the modern-day challenges. Together we
                                    share technology that holds the key to the future.
                                </p>
                                <div class="client-img">
                                    <img src="assets/img/hike/client5.png" alt="image">
                                    <div class="title">
                                        <h3>HP</h3>
                                        <span>Enterprise Partner</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ngxSlickItem class="item slide">
                            <div class="single-feedback">

                                <p> Our technological partners stand by us in our quest to develop groundbreaking
                                    software and refine our understanding of the modern-day challenges. Together we
                                    share technology that holds the key to the future.
                                </p>
                                <div class="client-img">
                                    <img src="assets/img/hike/google-client-pp.png" alt="image">
                                    <div class="title">
                                        <h3>Google</h3>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ngxSlickItem class="item slide">
                            <div class="single-feedback">

                                <p> Our technological partners stand by us in our quest to develop groundbreaking
                                    software and refine our understanding of the modern-day challenges. Together we
                                    share technology that holds the key to the future.
                                </p>
                                <div class="client-img">
                                    <img src="assets/img/hike/amazone-icon.png" alt="image">
                                    <div class="title">
                                        <h3>Amazon</h3>

                                    </div>
                                </div>
                            </div>
                        </div>



                    </ngx-slick-carousel>
                </div>
            </div>

            <div class="client-thumbnails">
                <div>
                    <ngx-slick-carousel class="carousel thumbs" #slickModal="slick-carousel"
                        [config]="thumbnailsSlider">
                        <div ngxSlickItem class="item">
                            <div class="img-fill"><img src="assets/img/hike/client1.png" alt="client"></div>
                        </div>

                        <div ngxSlickItem class="item">
                            <div class="img-fill"><img src="assets/img/hike/client2.png" alt="client"></div>
                        </div>

                        <div ngxSlickItem class="item">
                            <div class="img-fill"><img src="assets/img/hike/client3.png" alt="client"></div>
                        </div>

                        <div ngxSlickItem class="item">
                            <div class="img-fill"><img src="assets/img/hike/client4.png" alt="client"></div>
                        </div>

                        <div ngxSlickItem class="item">
                            <div class="img-fill"><img src="assets/img/hike/client5.png" alt="client"></div>
                        </div>

                        <div ngxSlickItem class="item">
                            <div class="img-fill"><img src="assets/img/hike/google-client-pp.png" alt="client"></div>
                        </div>

                        <div ngxSlickItem class="item">
                            <div class="img-fill"><img src="assets/img/hike/amazone-icon.png" alt="client"></div>
                        </div>

                        <div ngxSlickItem class="item">
                            <div class="img-fill"><img src="assets/img/hike/client1.png" alt="client"></div>
                        </div>
                    </ngx-slick-carousel>
                </div>

                <button class="prev-arrow slick-arrow">
                    <i-feather name="arrow-left"></i-feather>
                </button>

                <button class="next-arrow slick-arrow">
                    <i-feather name="arrow-right"></i-feather>
                </button>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="assets/img/hike/images/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/hike/images/shape2.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/hike/images/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="assets/img/hike/images/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/hike/images/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/hike/images/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/hike/images/shape2.svg" alt="shape"></div>
</section>