<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h2>Banner</h2>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
</div>

<!-- Start Offline Marketing Details Area -->
<section class="services-details-area ptb-80">
    <div class="container">
        <div class="row ">
            <div class="col-lg-6 services-details">
                <div class="services-details-desc wow fadeInUp mob_view" data-wow-duration="0.6s" data-wow-delay="2s"
                    style="text-align: justify">

                    <div class="section-title" style="text-align: left;">
                        <h2>Banner</h2>
                   <div class="bar" style="float: left"></div>

                    </div>
                    <p class="mob_view"> Have you ever come across any food ads on the Internet? Sure you have; those boxes which appear on
                        the web page when we surf the Internet are called Banners. These ads are extensively used on web
                         pages that get a high volume of visitors. Whether you are on a restaurant website or some shopping
                          website, these food ads can really make you click on them. These banner ads have text and images 
                          on them that literally satiate your taste buds by just looking at them; while some advertisers use
                           flashy creative to attract the visitor’s attention. Banner ads may vary; they can be static or 
                           animated depending on the restaurant and their cuisine.
                    </p>
                </div>
            </div>

            <div class="col-lg-6 services-details-image">
                <img src="assets/img/hike/offlineMarketing/banner01.png" class="wow fadeInUp" style="width: 400px" data-wow-delay="0.6s" alt="image">
            </div>
        </div>

        <div class="separate"></div>

        <div class="row align-items-center">
            <div class="col-lg-6 services-details-image">
                <img src="assets/img/hike/offlineMarketing/banner02.png" class="wow fadeInUp" style="width: 390px" data-wow-delay="0.6s"
                    alt="image">
            </div>

            <div class="col-lg-6 services-details">
                <div class="services-details-desc wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s"
                    style="text-align: justify">
                    <p>But how are they paid?
                        There are three basic types of methods:
                        CPC- Cost per click means how many people clicked on your ad
                        CPI- Cost per impression means how many people saw your ad
                        CPA- Cost per action means how many people actually purchased the product that you are selling
                         through this banner ad.
                    </p>
                    <p>
                        You can imagine it as a physical banner that we see on the streets or in front of a shop, it is exactly the same,
                         but this banner is virtual and on the Internet. As soon as you click on these banner ads you will be directed to
                          the homepage of the company, here you will learn more information about the ad.
                    </p>
                   
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End OfflineMarketing Details Area -->