<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h2>Internet of Things</h2>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
</div>



<!-- Start Services Details Area -->
<section class="services-details-area ptb-80">
    <div class="container">
        <div class="row ">
            <div class="col-lg-6 services-details">
                <div class="services-details-desc wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s"
                    style="text-align: justify">

                    <div class="section-title" style="text-align: left;">
                        <h2>Internet of Things</h2>
                        <div class="bar" style="float: left"></div>

                    </div>
                    <p class="mob_view">We are surrounded by things that can function for our convenience, but we still
                        constantly try to enhance it. Till a certain extent, we have successfully taught these things to
                        communicate within themselves, and this has changed the way we use them and live our daily
                        lives.</p>
                    <p>The Internet of things is changing our lives, and we can barely notice it; by the definition, the
                        Internet of Things is the interconnection of devices via the Internet enabling them to send and
                        receive data. So, the Internet of Things is a platform where devices can dump their data and
                        then with the help of the Internet of Things, they can communicate themselves.</p>
                    <p>E.g. your phone is always connected to the GPS, so it knows where it is, and this information is
                        communicated from the phone to your smart lights at home. As soon as reach home, the lights are
                        turned on as per your convenience.</p>
                    <p>In this example, your phone was able to communicate to the smart lights at home with the help of
                        the Internet of Things and let it know that you are arriving. </p>
                </div>
            </div>

            <div class="col-lg-6 services-details-image">
                <img src="assets/img/hike/iot-new1.png" class="wow fadeInUp" data-wow-duration="0.6s"
                    data-wow-delay="0.6s" alt="image">
            </div>
        </div>

        <div class="separate"></div>


    </div>
</section>
<!-- End Services Details Area -->