<section class="features-area ptb-80 bg-f7fafd">
    <div class="container">
        <div class="section-title">
            <h2>A GREAT WORK PLAN</h2>
            <div class="bar"></div>
            <p>
                Our clients and their prosperity is our no.1 priority and for that, we have a methodologically designed, goal oriented work plan.
                 From the conception of an idea to its fruition- <b>{{brandName}}</b> strives, lives and breathes the very essence of perfection. 
            </p>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="single-features">
                    <div class="icon">
                        <i-feather name="settings"></i-feather>
                    </div>
                    <h3>PLANNING & STRATEGY
                    </h3>
                    <p>An immense subject knowledge transfer from the client’s is a must before we kick start a new
                        project.
                        This lays the foundation for a wholesome long term strategy with measurable KPIs to quantify
                        success.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-features">
                    <div class="icon">
                        <i-feather name="mail"></i-feather>
                    </div>

                    <h3>DESIGN & EXECUTE
                    </h3>
                    <p>The next step involves giving life to the strategy using channels & media. A carefully charted
                        out execution plan with relevant timelines & dependencies to maintain clarity with all
                        stakeholders involved.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-3">
                <div class="single-features">
                    <div class="icon bg-c679e3">
                        <i-feather name="grid"></i-feather>
                    </div>
                    <h3>REPORTING & ANALYTICS
                    </h3>
                    <p>Being a performance focussed agency, we love to play with numbers and derive insights from the
                        same. A mature reporting module along with insight driven optimizations is all you need to
                        complete the feedback loop, and drive success.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>