<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h2>About Us</h2>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="assets/img/hike/images/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/hike/images/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="assets/img/hike/images/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/hike/images/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="assets/img/hike/images/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/hike/images/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/hike/images/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/hike/images/shape2.svg" alt="shape"></div>
</div>

<section class="about-area ptb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="about-image">
                    <img src="assets/img/hike/images/1.png" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <div class="section-title">
                        <h2>About Us</h2>
                        <div class="bar"></div>
                        <p>Started in the year 2013, <b>{{brandName}}</b> has witnessed the change in the digital
                            market, and with an experience of 6 years, we are ready to battle the issues that any
                            company may incur. With knowledge and experience in multiple fields, we have the capability
                            to solve your problems with solutions that are unique in nature.</p>
                    </div>

                    <p><b>{{brandName}}</b> provides solution and services in creating Application Programming
                        Interface, Customisation of Software and its development, Enterprise Resource Planning, Mobile
                        Application Development, User Interface and UX Designing, E-commerce, Content Management System
                        and many more.</p>
                    <p>Our team has a wide range of special skills that helps us in managing all these issues without
                        any difficulties, and this, in turn, propels our performance and delivers efficient result.</p>

                    <p>Keeping today’s trends in mind, we develop software and deliver long term solutions.</p>


                </div>
            </div>
        </div>


    </div>
</section>
<section class="iot-why-choose-us pt-80">
    <div class="container">
        <div class="section-title">
            <h2>Who we are</h2>
            <div class="bar"></div>
            <p>Rich with talent and guided by sheer motivation to make this world a better place, we are the ones who’ve
                set out to bring the future to the present by developing software that really matters.</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-iot-box">
                    <div class="icon">
                        <img src="assets/img/icon1.png" alt="image">
                    </div>
                    <h3>Vision</h3>
                    <p>Our vision is to attain our full potential by providing eminent software services to our
                        customers so that they always succeed. We will constantly strive to become a better version of
                        ourselves in our quest to innovate and expand the technology this world has to offer. </p>

                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-iot-box">
                    <div class="icon">
                        <img src="assets/img/icon2.png" alt="image">
                    </div>
                    <h3>Mission</h3>
                    <p>Our mission which motivates every single second of our work hours is to become a global leader by
                        pushing the envelope through extraordinary innovation and to inspire people by making radical
                        technological advancements in our field of operation. </p>

                </div>
            </div>

            <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                <div class="single-iot-box">
                    <div class="icon">
                        <img src="assets/img/icon3.png" alt="image">
                    </div>
                    <h3>Team</h3>
                    <p>Newlin Infotech has an incredibly talented pool of software engineers whose work is the living
                        breathing testament to their brilliance. They are professionals who will stop at nothing but
                        absolute perfection when it comes to developing software for our clients’ needs.</p>

                </div>
            </div>
        </div>
    </div>
</section>
<!--<app-team-home></app-team-home>
<app-partner></app-partner>-->
<app-funfact></app-funfact>