<!-- Start Page Title -->
<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h2>ERP Software Development</h2>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="assets/img/hike/images/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/hike/images/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="assets/img/hike/images/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/hike/images/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="assets/img/hike/images/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/hike/images/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/hike/images/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/hike/images/shape2.svg" alt="shape"></div>
</div>
<!-- End Page Title -->

<!-- Start Services Details Area -->
<section class="services-details-area ptb-80">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 services-details">
                <div class="services-details-desc wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s"
                    style="text-align: justify">

                    <div class="section-title" style="text-align: left;">
                        <h2>ERP Software Development</h2>
                        <div class="bar" style="float: left"></div>

                    </div>
                    <p class="mob_view">ERP or Enterprise resource planning is an integrated software solution for
                        businesses to function smoothly. As a business cannot be run by a single person or a single
                        team, we have different teams to handle a variety of obstacles, but these teams have different
                        software and sometimes it may be challenging to put them all together. </p>

                    <p>For instance, transferring information between two different software, or creating reports on one
                        platform while on the other, it cannot be read; these problems are very commonly experienced
                        without ERP software. In simple words, ERP is an integrated software solution which acts as an
                        umbrella for all your software.</p>
                </div>
            </div>

            <div class="col-lg-6 services-details-image">
                <img src="assets/img/hike/erp11.png" style="width: 420px;" class="wow fadeInUp" data-wow-duration="0.6s"
                    data-wow-delay="0.6s" alt="image">
            </div>
        </div>

        <div class="separate"></div>

        <div class="row align-items-center">
            <div class="col-lg-6 services-details-image">
                <img src="assets/img/hike/erp22.png" style="width: 350px" class="wow fadeInUp" data-wow-duration="0.6s"
                    data-wow-delay="0.6s" alt="image">
            </div>

            <div class="col-lg-6 services-details">
                <div class="services-details-desc wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s"
                    style="text-align: justify">
                    <p><b>{{brandName}}</b> is a connoisseur in developing software for businesses, and especially in
                        ERP Software development. Our team has the best developers who can develop a distinctive
                        software solution as per your business requirement. With our ERP software development solution,
                        you can manage sales, purchasing, CRM, inventory, accounts, logistics etc., all in one place
                        under one software program. </p>
                    <p><b>{{brandName}}</b> helps you to deliver more efficient work and to know when and where to boost
                        your sales or expand your resources to enhance your returns. ERP software development by
                        <b>{{brandName}}</b> is a one-stop solution for all your software problems so that you can make
                        more informed decision for your business.</p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Details Area -->