<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h2>Hoardings</h2>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
</div>

<!-- Start Offline Marketing Details Area -->
<section class="services-details-area ptb-80">
    <div class="container">
        <div class="row ">
            <div class="col-lg-6 services-details">
                <div class="services-details-desc wow fadeInUp mob_view" data-wow-duration="0.6s" data-wow-delay="2s"
                    style="text-align: justify">

                    <div class="section-title" style="text-align: left;">
                        <h2>Hoardings</h2>
                   <div class="bar" style="float: left"></div>

                    </div>
                    <p class="mob_view"> Hoardings are outdoor advertisement and it is also known as billboard advertising in the US.
                         They are giant posters that are mounted on the streets and building for everyone to see.
                    </p>
                    <p>
                        As a restaurant owner you can rely on hoardings if your restaurant is near the highway or on the crossroads, 
                        because hoardings are considered to be the super ad, as it has the highest audience reach. You can install 
                        hoarding a few kilometres before the actual location and literally inform everyone that your restaurant is nearby.
                         Hungry travellers will and people who need refreshments will definitely take a halt at your restaurant. 
                    </p>
                </div>
            </div>

            <div class="col-lg-6 services-details-image">
                <img src="assets/img/hike/offlineMarketing/hoardings01.png" class="wow fadeInUp" style="width: 600px" data-wow-delay="0.6s" alt="image">
            </div>
        </div>

        <div class="separate"></div>

        <div class="row align-items-center">
            <div class="col-lg-6 services-details-image">
                <img src="assets/img/hike/offlineMarketing/hoardings02.png" class="wow fadeInUp" style="width: 390px" data-wow-delay="0.6s"
                    alt="image">
            </div>

            <div class="col-lg-6 services-details">
                <div class="services-details-desc wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s"
                    style="text-align: justify">
                    <p>If you have discounts to offer or a new cuisine, that can be the highlight of your ad, because people 
                        who travel would definitely want to try something new. 
                    </p>
                    <p>
                        Hoarding allows reaching a wider audience of all gender and age. In other marketing styles like TV ads,
                         magazines, Google ads etc., you reach out to the customer for advertisement; but in this marketing style, 
                         the audience comes to you.
                    </p>
                    <p>
                        Hoardings are the best way to attract more and more audience because of its visibility.
                    </p>
                   
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End OfflineMarketing Details Area -->