<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h2>Facebook</h2>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
</div>





<!-- Start Services Details Area -->
<section class="services-details-area ptb-80">
    <div class="container">
        <div class="row ">
            <div class="col-lg-6 services-details">
                <div class="services-details-desc wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s"
                    style="text-align: justify">

                    <div class="section-title" style="text-align: left;">
                        <h2>Facebook </h2>
                        <div class="bar" style="float: left"></div>

                    </div>

                    <p class="mob_view">
                              If you are starting with social media marketing then you probably know that you need to be on <b>Facebook</b>.
                              It is the biggest social media marketing platform. With this added benefit of large audience, you can use <b>Facebook</b>
                              for promoting anything that is new in your restaurant, you can create events and invite people, 
                              and you can create polls and ask your loyal patrons for valuable feedback. This will make your customers 
                              feel like you are listening to them and they will remain loyal to your business. 
                    </p><p>
                              On <b>Facebook</b> you can create your own company profile and promote your business through <b>Facebook</b> ad manager, 
                              you can specifically target your audience and know the exact engagement, likes and dislikes of your targeted audience. 
                              Here you have more chance of people sharing your post and creating self-promotion.
                    </p>   
                </div>
            </div>

            <div class="col-lg-6 services-details-image">
                <img src="assets/img/hike/socialmedia-marketing/facebook-12.png" class="wow fadeInUp" style="width: 410px;" data-wow-delay="0.6s"
                    alt="image">
            </div>
        </div>

        <div class="separate"></div>

        <div class="row align-items-center">
            <div class="col-lg-6 services-details-image">
                <img src="assets/img/hike/socialmedia-marketing/facebook-2.png" class="wow fadeInUp" style="width: 390px" data-wow-delay="0.6s"
                    alt="image">
            </div>

            <div class="col-lg-6 services-details">
                <div class="services-details-desc wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s"
                    style="text-align: justify">
                    <p>
                            Apart from promoting your page and posting ads, you can also create <b>Facebook</b> groups to get a better understanding of the market.
                            Social media marketing on <b>Facebook</b> can be done through images, ads, videos, group discussions etc. 
                            <b>Facebook</b> is the king of social media marketing with end number of possibilities because you can do 
                            marketing in your demographics and also worldwide, which can create new opportunities without spending extra bucks.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Details Area -->