<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h2>Twitter</h2>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
</div>





<!-- Start Services Details Area -->
<section class="services-details-area ptb-80">
    <div class="container">
        <div class="row ">
            <div class="col-lg-6 services-details">
                <div class="services-details-desc wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s"
                    style="text-align: justify">

                    <div class="section-title" style="text-align: left;">
                        <h2>Twitter </h2>
                        <div class="bar" style="float: left"></div>

                    </div>

                    <p class="mob_view">
                            Facebook’s biggest competitor is different in all the way. Whether it is local, global, or
                            pop-culture news, Twitter is up-to-date all the time. There are over 326 million active
                            users for you to target, but remember, <b>Twitter</b> is a micro-blogging website; Facebook’s
                            strategies will not work on <b>Twitter</b>.
                    </p><p>
                            As a restaurateur, you need to keep in mind that <b>Twitter</b> is the best place for
                            promoting your business as your followers are always in the loop. You need to get
                            involved in the local tweets and show your followers that you are trendy and you have
                            social etiquettes. You need to make it work for you and always be nice to your
                            competitors, because twitterati don’t take it easily when their favourite brand or
                            celebrity is bashed.
                     </p>   
                </div>
            </div>

            <div class="col-lg-6 services-details-image">
                <img src="assets/img/twitter_02.png" class="wow fadeInUp" style="width: 460px;" data-wow-delay="0.6s"
                    alt="image">
            </div>
        </div>

        <div class="separate"></div>

        <div class="row align-items-center">
            <div class="col-lg-6 services-details-image">
                <img src="assets/img/twitter_02.png" class="wow fadeInUp" style="width: 390px" data-wow-delay="0.6s"
                    alt="image">
            </div>

            <div class="col-lg-6 services-details">
                <div class="services-details-desc wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s"
                    style="text-align: justify">
                    <p>
                            <b>Twitter</b> allows sharing, promoting, expanding, and providing quick customer service to
                            your followers. It can give you instant access to interact with your customers and
                            building brand presence. Always try and make it more conversational, so that your
                            followers may feel that they are talking to the restaurant directly. <b>Twitter</b> can also be
                            used as a search engine tool for potential customers to learn about your restaurant.
                            Keep your twitter account lively by tweeting about the plans for your restaurant, like a
                            new location coming up or there is an event that you are hosting; e.g. Halloween
                            theme party, birthday party, etc.
                            This will create a trust factor within your followers and eventually gain new followers.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Details Area -->