<!-- Start Page Title -->
<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h2>E-Commerce</h2>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="assets/img/hike/images/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/hike/images/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="assets/img/hike/images/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/hike/images/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="assets/img/hike/images/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/hike/images/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/hike/images/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/hike/images/shape2.svg" alt="shape"></div>
</div>
<!-- End Page Title -->

<!-- Start Services Details Area -->
<section class="services-details-area ptb-80">
    <div class="container">
        <div class="row ">
            <div class="col-lg-6 services-details">
                <div class="services-details-desc wow fadeInUp mob_view" data-wow-duration="0.6s" data-wow-delay="0.6s"
                    style="text-align: justify">

                    <div class="section-title" style="text-align: left;">
                        <h2>E-Commerce</h2>
                        <div class="bar" style="float: left"></div>

                    </div>
                    <p class="mob_view">E-commerce or Electronic Commerce is everywhere and in India, it is not only
                        growing in numbers but in scale as well. It has already set its path into the Indian market with
                        a mind-numbing response; whenever there is a new technology it takes time to dwell into the
                        respective market, but this champ here has done exactly the opposite. The revenue from
                        e-commerce in India is expected to reach USD$120 billion by 2020. (Information is taken from
                        India Brand Equity Foundation: www.ibef.org) </p>

                    <p>By the scale of it, we know that e-commerce is one of the biggest industries in India right now,
                        and is it that difficult to manage? Turns out it is; running an e-commerce website can be
                        tiresome and with the sheer number of response that one may get it will only get more
                        exhausting. But, we have a solution. </p>
                </div>
            </div>

            <div class="col-lg-6 services-details-image">
                <img src="assets/img/hike/ecom11.png" style="width: 313px;" class="wow fadeInUp"
                    data-wow-duration="0.6s" data-wow-delay="0.6s" alt="image">
            </div>
        </div>

        <div class="separate"></div>

        <div class="row align-items-center">
            <div class="col-lg-6 services-details-image">
                <img src="assets/img/hike/ecom22.png" style="width: 400px" class="wow fadeInUp" data-wow-duration="0.6s"
                    data-wow-delay="0.6s" alt="image">
            </div>

            <div class="col-lg-6 services-details">
                <div class="services-details-desc wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s"
                    style="text-align: justify">
                    <p><b>{{brandName}}</b> is a paradigm for e-commerce solution. From designing to building your
                        website and from updating to running it; <b>{{brandName}}</b> is there to handle it all. Our
                        experts can design your e-commerce website from scratch and create an aesthetically creative
                        webpage with the most convenient user interface. We understand how much shopping means to your
                        customers, which is why we make an easy-to-use website so that customers can access it
                        hassle-free. We also provide all types of e-commerce solutions as per your requirement. </p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Details Area -->