<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h2>Content Marketing </h2>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
</div>






<!-- Start content marketing Details Area -->

<section class="services-details-area ptb-80">
    <div class="container">
        <div class="row ">
            <div class="col-lg-6 services-details">
                <div class="services-details-desc wow fadeInUp mob_view" data-wow-duration="0.6s" data-wow-delay="2s"
                    style="text-align: justify">

                    <div class="section-title" style="text-align: left;">
                        <h2>Content Marketing </h2>
                        <div class="bar" style="float: left"></div>

                    </div>
                    <p class="mob_view">
                        You must have heard the phrase <b>‘Content is King’,</b> and indeed—it is; 
                        but why is content given so much of importance? Firstly, by definition, 
                        content marketing is creating new online shareable material such as blogs, 
                        videos, posts etc., and good content can help your brand build trust amongst the others and invoke interest. 
                    </p><p>
                        As a restaurant owner you should try <b>content marketing </b>to promote your business, because it may be possible that your
                        content may generate interest in customers which triggers some memory, or they could relate to it, which is why they 
                        would want to visit your restaurant or try your product. Overly persuasive discount vouchers and 
                        coupons may work sometimes but not all the time; let your patrons share your content and make them want to visit your restaurant on their own. 
                    </p>
                </div>
            </div>

            <div class="col-lg-6 services-details-image">
                <img src="assets/img/hike/online-marketing/content-2.png" width="410px" class="wow fadeInUp" data-wow-delay="0.6s" alt="image">
            </div>
        </div>

        <div class="separate"></div>

        <div class="row align-items-center">
            <div class="col-lg-6 services-details-image">
                <img src="assets/img/hike/online-marketing/content-3.png" class="wow fadeInUp" style="width: 390px" data-wow-delay="0.6s"
                    alt="image">
            </div>

            <div class="col-lg-6 services-details">
                
                    <div class="services-details-desc wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s"
                        style="text-align: justify">
                 <p>
                            <b>Content marketing</b> is a strategic marketing viewpoint solely focused on creating trustworthy, transparent, 
                            and valuable content which can benefit your customer. 
                            It not only helps the customer but in the long term, it also benefits the brand. 
                            <b>Content marketing</b> can create new leads and attract more traffic on your website.
                </p><p>
                            It can build an excellent reputation for the brand and profit the brand; also, 
                            it will build a strong customer base with extensive brand awareness.
                            A good content marketing strategy should also be focusing on SEO because proper
                             SEO with quality content will improve your chances of sustaining in the market.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End  content marketing Details Area -->
