<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h2>Customisable Software</h2>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
</div>




<!-- Start Services Details Area -->
<section class="services-details-area ptb-80">
    <div class="container">
        <div class="row ">
            <div class="col-lg-6 services-details">
                <div class="services-details-desc wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s"
                    style="text-align: justify">

                    <div class="section-title" style="text-align: left;">
                        <h2>Customisable Software </h2>
                        <div class="bar" style="float: left"></div>

                    </div>

                    <p class="mob_view">The software has been a part of the corporate world since a very long time, and
                        now, it may seem impossible to function without it. It has also made our lives very simple and
                        made our day-to-day tasks achievable in a single click. Now, a company cannot survive without
                        software, no matter if it is your own software or you buy it from some developer; software is an
                        integral part of this digital web.
                        As we face new challenges and grow as a company, even your software needs some elbow grease;
                        before it is worn out, you need to customise it and fix it with new features as per new
                        requirements.</p>

                </div>
            </div>

            <div class="col-lg-6 services-details-image">
                <img src="assets/img/hike/custom-software-development-benefit.png" class="wow fadeInUp"
                    data-wow-delay="0.6s" alt="image">
            </div>
        </div>

        <div class="separate"></div>

        <div class="row align-items-center">
            <div class="col-lg-6 services-details-image">
                <img src="assets/img/hike/csg-custom-software.png" class="wow fadeInUp" style="width: 390px"
                    data-wow-delay="0.6s" alt="image">
            </div>

            <div class="col-lg-6 services-details">
                <div class="services-details-desc wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s"
                    style="text-align: justify">
                    <p>We customise software as per your requirement and maintain the same level of quality that it came
                        with. We understand that a company’s software can be confidential and this is why we never take
                        any chances with its content.
                        We build, enhance, design and <b>customise software</b> with the help of our developers and
                        create something that improved standards.
                        Which is why we say: don’t let anyone—but experts—customise it for you.</p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Details Area -->