<!-- Start Page Title -->
<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h2>Our Portfolio</h2>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="assets/img/hike/images/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/hike/images/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="assets/img/hike/images/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/hike/images/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="assets/img/hike/images/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/hike/images/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/hike/images/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/hike/images/shape2.svg" alt="shape"></div>
</div>
<!-- End Page Title -->

<!-- Start Works Area -->

<!-- Start Blog Area -->
<section class="blog-area ptb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4> Delhi </h4> 
            </div>
        </div>
        <div class="row">
            <div class="column" *ngFor="let image of delhiImages">
                <div class="single-blog-posts">
                    <div class="blog-images">
                        <a href="{{ image.link }}" target="_blank">
                            <img src="{{ image.image }}" alt="image" class="brand-log">
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12">
                <h4>Bengaluru</h4>
            </div>
        </div>
        <div class="row">
            <div class="column" *ngFor="let image of bengaluruImages">
                <div class="single-blog-posts">
                    <div class="blog-images">
                        <a href="{{ image.link }}" target="_blank">
                            <img src="{{ image.image }}" alt="image" class="brand-log">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h4>Mumbai</h4> 
            </div>
        </div>
        <div class="row">
            <div class="column" *ngFor="let image of mumbaiImages">
                <div class="single-blog-posts">
                    <div class="blog-images">
                        <a href="{{ image.link }}" target="_blank">
                            <img src="{{ image.image }}" alt="image" class="brand-log">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h4>Dubai</h4>
            </div>
        </div>
        <div class="row">
            <div class="column" *ngFor="let image of dubaiImages">
                <div class="single-blog-posts">
                    <div class="blog-images">
                        <a href="{{ image.link }}" target="_blank">
                            <img src="{{ image.image }}" alt="image" class="brand-log">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h4>Abu dhabi</h4> 
            </div>
        </div>
        <div class="row">
            <div class="column" *ngFor="let image of abudhabiImages">
                <div class="single-blog-posts">
                    <div class="blog-images">
                        <a href="{{ image.link }}" target="_blank">
                            <img src="{{ image.image }}" alt="image" class="brand-log">
                        </a>
                    </div>
                </div>
            </div>
        </div>


    </div> <!-- End of Container-->
</section>


