<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h2>Promotional Events</h2>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
</div>

<!-- Start Services Details Area -->

<section class="services-details-area ptb-80">
    <div class="container">
        <div class="row ">
            <div class="col-lg-6 services-details">
                <div class="services-details-desc wow fadeInUp mob_view" data-wow-duration="0.6s" data-wow-delay="2s"
                    style="text-align: justify">

                    <div class="section-title" style="text-align: left;">
                        <h2>Promotional Events at Local Market </h2>
                        <div class="bar" style="float: left"></div>

                    </div>
                    <p class="mob_view">
                        Did you ever attend an event that has sponsors and there are banners all across the
                        event venue, which probably says ‘powered by...’? Yes, those are promotional events
                        which are paid by the company, which helps them to reach a specific business goal.
                        Restaurants normally do this type of event to create goodwill and to give a taste of
                        their cuisine to potential new customers. </p>
                    <p>
                        Restaurants sponsor events that their customers relate to, if there is some festive
                        season going on, they will bring some dish specifically for that time period, in this way
                        the customer feels that the restaurant cares about the same thing and creates a
                        positive feeling about the brand. But the sole purpose of these promotional events is
                        not the customer’s feeling because it also creates awareness about the brand.
                        Apart from the awareness, the purpose of these promotional events is to increase the
                        audience to reach and drive more sales. </p>
                    <p>
                        A promotional event is an excellent way to get more media coverage which increases
                        the visibility of the brand. It also opens new doors for your brand, as you may stumble
                        upon other businesses and VIP members for collaboration.
                </div>
            </div>

            <div class="col-lg-6 services-details-image">
                <img src="assets/img/hike/offlineMarketing/promo-33.png" with="" class="wow fadeInUp" data-wow-delay="0.6s" alt="image">
            </div>
        </div>

        <div class="separate"></div>

        <div class="row align-items-center">
            <div class="col-lg-6 services-details-image">
                <img src="assets/img/hike/offlineMarketing/promo-44.png" class="wow fadeInUp" style="width: 390px" data-wow-delay="0.6s" alt="image">
            </div>

            <div class="col-lg-6 services-details">
                <div class="section-title" style="text-align: left;">
                    <h2>Tie-up with local Shops/Supermarket/Stores </h2>
                    <div class="bar" style="float: left"></div>
                </div>

                <div class="services-details-desc wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s"
                    style="text-align: justify">
                    <p>
                        We normally do grocery shopping from our local shops, but have you ever come
                        across a local shop which gives you a referral code or voucher on order value of a
                        certain amount? These types of local shops have tie-up with restaurants that want to
                        create awareness in that particular area. In this way, the restaurants can rest assure that
                        it will get new customer and the local shop will keep selling higher amount of grocery.
                        You can do this when you are a new brand or you are starting with a new dish. In this
                        way, you can gauge if the new cuisine is going to be a success or not and you are not
                        even spending more on advertising. Once you see that the product is doing pretty
                        well, and then you can extend the service in other parts of the area too
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Offline marketing Details Area -->