<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h2>Logo Designing</h2>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
</div>






<!-- Start logo design Details Area -->

<section class="services-details-area ptb-80">
    <div class="container">
        <div class="row ">
            <div class="col-lg-6 services-details">
                <div class="services-details-desc wow fadeInUp mob_view" data-wow-duration="0.6s" data-wow-delay="2s"
                    style="text-align: justify">

                    <div class="section-title" style="text-align: left;">
                        <h2>Logo Designing</h2>
                        <div class="bar" style="float: left"></div>

                    </div>
                    <p class="mob_view">
                        The name of a brand is its identity, but the <b>Logo</b> is the face of the brand. A <b>logo</b> should 
                        signify the value of its company which will distinguish it from its competitors and let it  stand out in the market.
                        Designing a restaurant <b>logo</b> needs brainstorming with a succinct strategy that will help the 
                        customers to identify the restaurant even without its name, and this, in turn, will create 
                        a strong brand identity. Once you have a strong brand identity, you can use this goodwill 
                        for online marketing; like McDonald's, Dominos, Starbucks, etc., these brands do not need
                         to mention their name, and their <b>logo</b> is enough for the customer to recognise them.
                    </p>
                </div>
            </div>

            <div class="col-lg-6 services-details-image">
                <img src="assets/img/logo_design2.png" class="wow fadeInUp" data-wow-delay="0.6s" alt="image">
            </div>
        </div>

        <div class="separate"></div>

        <div class="row align-items-center">
            <div class="col-lg-6 services-details-image">
                <img src="assets/img/logo_design1.jpeg" class="wow fadeInUp" style="width: 390px" data-wow-delay="0.6s"
                    alt="image">
            </div>

            <div class="col-lg-6 services-details">
                
                    <div class="services-details-desc wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s"
                        style="text-align: justify">
                           <p>
                            Just displaying the logo will signify simplicity and builds a trust factor within 
                            its targeted audience. While designing the <b>logo</b>, one should keep in mind that the <b>logo</b>
                            should be very simple and easy to remember, so whenever someone talks about fast-food, 
                            your restaurant name should be the first name that pops in your customer’s mind.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End  Logo design Details Area -->
