<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h2>Software as a Service</h2>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
</div>




<!-- Start Services Details Area -->
<section class="services-details-area ptb-80">
    <div class="container">
        <div class="row ">
            <div class="col-lg-6 services-details">
                <div class="services-details-desc wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s"
                    style="text-align: justify">

                    <div class="section-title" style="text-align: left;">
                        <h2>Software as a Service</h2>
                        <div class="bar" style="float: left"></div>

                    </div>

                    <p class="mob_view">Software is the building block of any program, and it helps you to manage and
                        simplify your tasks. In every industry, the software is given the utmost importance that it does
                        deserve indeed. Without which, we wouldn’t have accomplished what we have today.</p>
                    <p><b>{{brandName}}</b> understands the importance of software, and hence, we are here to contribute
                        in creating something that has equal importance. Creating software from scratch to catering to
                        all its post development requirements, <b>{{brandName}}</b> does it all. We also help in
                        customising your existing software as per your requirement to enhance and modify it.</p>

                </div>
            </div>

            <div class="col-lg-6 services-details-image">
                <img src="assets/img/hike/saas-bg11.png" style="width: 410px;" class="wow fadeInUp"
                    data-wow-delay="0.6s" alt="image">
            </div>
        </div>

        <div class="separate"></div>

        <div class="row align-items-center">
            <div class="col-lg-6 services-details-image">
                <img src="assets/img/hike/saas2.png" class="wow fadeInUp" data-wow-delay="0.6s" alt="image">
            </div>

            <div class="col-lg-6 services-details">
                <div class="services-details-desc wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s"
                    style="text-align: justify">
                    <p>We start with an outline design of the software and then our team of developers—only after the
                        client’s approval—start with the process of creating the software. In due time course, our team
                        tests the beta software and provides the final result with immaculate accuracy.</p>
                    <p>We provide software as a service, where we create, modify and maintain software programs.</p>


                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Details Area -->