<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h2>Instagram</h2>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
</div>

<!-- Start Services Details Area -->
<section class="services-details-area ptb-80">
    <div class="container">
        <div class="row ">
            <div class="col-lg-6 services-details">
                <div class="services-details-desc wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s"
                    style="text-align: justify">

                    <div class="section-title" style="text-align: left;">
                        <h2>Instagram </h2>
                        <div class="bar" style="float: left"></div>

                    </div>

                    <p class="mob_view">
                        Since it first came in 2010, seems like everyone loves using <b>Instagram</b>. 
                        Instagram’s reach is enormous, just like Facebook, Instagram has over 1 billion active users 
                        and there are almost 500 million stories every day.
                        It looks like Instagram was made for food lovers and vloggers, 
                        as <b>Instagram</b> has its own community when it comes to food. 
                </p> <p>     
                        This is the best place to upload short videos of your dish or sneak peak of your 
                        restaurant, because Instagrammers love these types of videos. Recipe videos, sneak peak,
                         new offer, new restaurant, festive discount, 
                         engagement posts, FAQs, etc., these are the trending things that tops <b>Instagram</b>. 
                        
                </p>    
                </div>
            </div>

            <div class="col-lg-6 services-details-image">
                <img src="assets/img/hike/socialmedia-marketing/instagram-2.png" class="wow fadeInUp" style="width: 410px;" data-wow-delay="0.6s"
                    alt="image">
            </div>
        </div>

        <div class="separate"></div>

        <div class="row align-items-center">
            <div class="col-lg-6 services-details-image">
                <img src="assets/img/hike/socialmedia-marketing/instagram-2.png" class="wow fadeInUp" style="width: 390px" data-wow-delay="0.6s"
                    alt="image">
            </div>

            <div class="col-lg-6 services-details">
                <div class="services-details-desc wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s"
                    style="text-align: justify">
                    <p>
                        This clearly has opened up new opportunities for marketing where you can reach a larger audience. Instagram has an ad manager similar to Facebook, 
                        but you can also post your ads through Facebook’s ad manager.
                        As per research, 80% of <b>Instagrammers</b> follow at least one food profile, 
                        so here if your restaurant posts new photos and stories about your daily business, 
                        your followers will be notified immediately, and even if your audience may not visit, 
                        at least you have created awareness about your restaurant.
                        Apart from celebrities, there are <b>Instagram</b> Influencers who can do paid 
                        promotions with your brand and collaborate with your brand and give you a new set of audience.
                        Social trends and campaigns happen every now and then, so if your brand 
                        can follow these trends, your brand will be topping the charts.
                </p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Details Area -->