<!-- Start Page Title -->
<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h2>Infrastructure Solution </h2>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="assets/img/hike/images/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/hike/images/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="assets/img/hike/images/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/hike/images/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="assets/img/hike/images/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/hike/images/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/hike/images/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/hike/images/shape2.svg" alt="shape"></div>
</div>
<!-- End Page Title -->

<!-- Start Services Details Area -->
<section class="services-details-area ptb-80">
    <div class="container">
        <div class="row ">
            <div class="col-lg-6 services-details">
                <div class="services-details-desc wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s" style="">

                    <div class="section-title" style="text-align: left;">
                        <h2>Infrastructure Solution </h2>
                        <div class="bar" style="float: left"></div>

                    </div>
                    <p class="mob_view">IT Infrastructure is the building block of an IT environment.</p>
                    <p>It is the web of connecting links from one server to the other for better communication.
                        IT Infrastructure is a platform used by an IT business for internal management or used as a
                        service for its customers. </p>

                    <p>A well organised IT Infrastructure can help reduce the cost of the company and propel the
                        revenue.
                        An enhanced IT Infrastructure can reduce latency, minimal or zero downtime, better performance,
                        optimised network servers, etc. </p>
                    <p>This in turn can help you better communicate and provide solutions, in any circumstances, almost
                        instantaneously.</p>
                </div>
            </div>

            <div class="col-lg-6 services-details-image">
                <img src="assets/img/hike/it-infrast1.png" style="" class="wow fadeInUp" data-wow-duration="0.6s"
                    data-wow-delay="0.6s" alt="image">
            </div>
        </div>

        <div class="separate"></div>

        <div class="row align-items-center">
            <div class="col-lg-6 services-details-image">
                <img src="assets/img/hike/infra22.png" style="width: 400px" class="wow fadeInUp"
                    data-wow-duration="0.6s" data-wow-delay="0.6s" alt="image">
            </div>

            <div class="col-lg-6 services-details">
                <div class="services-details-desc wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.6s" style="">
                    <p>We provide platforms for organisations to run their businesses and to seamlessly develop it.
                        We create a safe platform for your organisation from our optimum components like hardware,
                        software, and network. </p>
                    <p>Our team of experts have a profound knowledge of IT architecture with an integrated view of
                        Infrastructural solutions. </p>
                    <p>We foster a new approach that is compatible with your business strategy.</p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Details Area -->