<section class="works-area ptb-80 bg-f7fafd">
    <div class="container">
        <div class="section-title">
            <h2>Our Recent Works</h2>
            <div class="bar"></div>
            <p>Take a look at the projects we’ve delivered in the past in order to gain some more insight into our
                meticulous design paradigm.</p>
        </div>
    </div>

    <div class="row m-0">
        <!-- <div class="works-slides"> -->
        <owl-carousel-o [options]="workCarousel" class="works-slides owl-carousel owl-theme">
            <ng-template carouselSlide>
                <div class="col-lg-12">
                    <div class="single-works">
                        <img src="assets/img/hike/portfolio/biryani_blues.jpg" alt="image" class="brand-log">
                        <a href="/portfolio" class="icon">
                            <i-feather name="link"></i-feather>
                        </a>
                        <div class="works-content">
                            <h3><a href="/portfolio">Biryani Blues</a></h3>
                            <p>Cookpack is an ambitious and revolutionary project expanding its footprints in Hong Kong
                                but it is to capitalize the market globally .....</p>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="col-lg-12">
                    <div class="single-works">
                        <img src="assets/img/hike/portfolio/bronx.jpeg" alt="image" class="brand-log">
                        <a href="/portfolio" class="icon">
                            <i-feather name="link"></i-feather>
                        </a>
                        <div class="works-content">
                            <h3><a href="/portfolio">Brox</a></h3>
                            <p>Having a balanced diet but with scrumptious finger licking experience is something that
                                sets unique in the competition......</p>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="col-lg-12">
                    <div class="single-works">
                        <img src="assets/img/hike/portfolio/eggers-house.jpeg" alt="image" class="brand-log">
                        <a href="/portfolio" class="icon">
                            <i-feather name="link"></i-feather>
                        </a>
                        <div class="works-content">
                            <h3><a href="/portfolio">Eggers House</a></h3>
                            <p>Cloudword is newlin infotech answer to the need of a perfect interactive word book app
                                for iPad. What makes CloudWord Office ......</p>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="col-lg-12">
                    <div class="single-works">
                        <img src="assets/img/hike/portfolio/insta-pizza.png" alt="image" class="brand-log">
                        <a href="/portfolio" class="icon">
                            <i-feather name="link"></i-feather>
                        </a>
                        <div class="works-content">
                            <h3><a href="/portfolio">Insta Pizza</a></h3>
                            <p>STARS Health Care fulfils the need for an innovative Clinical Research Application for
                                the Healthcare industry where .......</p>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="col-lg-12">
                    <div class="single-works">
                        <img src="assets/img/hike/portfolio/khaaja-chowk.png" alt="image" class="brand-log">
                        <a href="/portfolio" class="icon">
                            <i-feather name="link"></i-feather>
                        </a>
                        <div class="works-content">
                            <h3><a href="/portfolio">Khaaja Chowk</a></h3>
                            <p>Carbox, being the premier distributor of not only auto spare parts and accessories but
                                also that of O.E.Original auto spare parts......</p>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="col-lg-12">
                    <div class="single-works">
                        <img src="assets/img/hike/portfolio/tossin-pizza.jpg" alt="image" class="brand-log">
                        <a href="/portfolio" class="icon">
                            <i-feather name="link"></i-feather>
                        </a>
                        <div class="works-content">
                            <h3><a href="/portfolio">Tossin Pizza</a></h3>
                            <p>MP Rewards is an application designed so as to make your Millpledge product points
                                simpler and quicker to collect. It also allows.......</p>
                        </div>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
        <!-- </div> -->
    </div>

    <div class="shape8 rotateme"><img src="assets/img/hike/images/shape2.svg" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/hike/images/shape2.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/hike/images/shape4.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/hike/images/shape4.svg" alt="shape"></div>
</section>