<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h2>Youtube</h2>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
</div>





<!-- Start Services Details Area -->
<section class="services-details-area ptb-80">
    <div class="container">
        <div class="row ">
            <div class="col-lg-6 services-details">
                <div class="services-details-desc wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s"
                    style="text-align: justify">

                    <div class="section-title" style="text-align: left;">
                        <h2>Youtube </h2>
                        <div class="bar" style="float: left"></div>

                    </div>

                    <p class="mob_view">
                            If <b>Facebook</b> is the king of social media then <b>YouTube</b> is Guru. There are approximately 50 million YouTube creators 
                            creating new videos regularly, and nearly 1 billion hours of <b>YouTube</b> is watch every single day;
                             so, the competition is very tough.Recipe videos started from TV and now <b>YouTube</b> has taken the throne.
                    </p><p>
                             There are endless videos that you can watch which are related to food, like recipes,
                            tips and hacks, easy to make, lip-smacking dishes, etc. As a restaurateur you
                            can upload videos of your kitchen and chef making the food, how you prepare, etc. 
                            This will make the customer feel like they know the restaurant better and they can trust on you and the hygiene too. 
                    </p>

                </div>
            </div>

            <div class="col-lg-6 services-details-image">
                <img src="assets/img/youtube_01.png" class="wow fadeInUp" style="width: 340px;" data-wow-delay="0.6s"
                    alt="image">
            </div>
        </div>

        <div class="separate"></div>

        <div class="row align-items-center">
            <div class="col-lg-6 services-details-image">
                <img src="assets/img/youtube_02.png" class="wow fadeInUp" style="width: 390px" data-wow-delay="0.6s"
                    alt="image">
            </div>

            <div class="col-lg-6 services-details">
                <div class="services-details-desc wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s"
                    style="text-align: justify">
                    <p>
                        If you want to promote or market on <b>YouTube</b>, it is completely different; you have subscribers instead of followers 
                        and views are considered important instead of likes. Firstly, you need to create your own channel and then 
                        start creating videos. Once you have created the video, you just cannot upload it without proper SEO. 
                        To reach your audience you need to do research and put the right keyword. You need views and subscribers
                         to get monetised. Always schedule your videos and upload, your <b>YouTube</b>> channel is like your own TV channel, 
                         so your subscribers will be waiting for you to upload your regular video.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Details Area -->