<!-- Start Page Title -->
<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h2>Mobile Application Development</h2>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="assets/img/hike/images/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/hike/images/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="assets/img/hike/images/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/hike/images/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="assets/img/hike/images/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/hike/images/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/hike/images/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/hike/images/shape2.svg" alt="shape"></div>
</div>
<!-- End Page Title -->

<!-- Start Services Details Area -->
<section class="services-details-area ptb-80">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 services-details">
                <div class="services-details-desc wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s"
                    style="text-align: justify">

                    <div class="section-title" style="text-align: left;">
                        <h2>Mobile Application Development</h2>
                        <div class="bar" style="float: left"></div>

                    </div>
                    <p class="mob_view">It is safe to say that mobile phones have now become an integral part of our
                        lives but it would have been madding to say the same a decade ago. There were less mobile
                        phones, lesser applications and least requirement for an app, but now—a decade later-it is
                        exactly the opposite. This has also altered the market which has drastically changed the course
                        of <b>Mobile Application Development.</b> </p>

                    <p>By the name itself, <b>mobile Application Development.</b> is building an app for mobile phones.
                        To reach your customer, you need to reach your customer’s phone and how do we reach there? The
                        answer is simple: mobile application, but reaching there is another thing and keeping your
                        customer hooked-up to the app is another.</p>
                </div>
            </div>

            <div class="col-lg-6 services-details-image">
                <img src="assets/img/hike/mob22.png" style="width: 400px;" class="wow fadeInUp" data-wow-duration="0.6s"
                    data-wow-delay="0.6s" alt="image">
            </div>
        </div>

        <div class="separate"></div>

        <div class="row align-items-center">
            <div class="col-lg-6 services-details-image">
                <img src="assets/img/hike/mob.png" style="width: 400px" class="wow fadeInUp" data-wow-duration="0.6s"
                    data-wow-delay="0.6s" alt="image">
            </div>

            <div class="col-lg-6 services-details">
                <div class="services-details-desc wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s"
                    style="text-align: justify">
                    <p><b>{{brandName}}</b> is ready to keep up with the trend and constantly ready to update the apps.
                        Nowadays, a mobile app is not restricted to only teens but all age groups. Keeping the Indian
                        audience in mind, we make easy user-interface apps for your customer’s ease.
                        <b>{{brandName}}</b> team of experts can design and build apps for every brand and company. ‘For
                        the love of apps’, <b>mobile application development</b> is not a child’s play, so don’t let the
                        novice build it for you; let the experts handle it for you. </p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Details Area -->