<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h2>Digital Marketing</h2>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
</div>




<!-- Start Services Details Area -->
<section class="services-details-area ptb-80">
    <div class="container">
        <div class="row ">
            <div class="col-lg-7 services-details">
                <div class="services-details-desc wow fadeInUp mob_view" data-wow-duration="0.6s" data-wow-delay="0.6s"
                    style="text-align: justify">

                    <div class="section-title" style="text-align: left;">
                        <h2>Digital Marketing</h2>
                        <div class="bar" style="float: left"></div>

                    </div>
                    <p class="mob_view">A billion dollar business that has changed beyond recognition and it’s still
                        growing at an astonishing speed. A business that can probably never plunge or hit recession, as
                        it has made enough room in every industry. Principally, <b>Digital marketing</b> was frowned
                        upon, but in the near future, handy newspapers and magazine’s hard copy will be for a great
                        sense of nostalgia. As we have witnessed the transformation of marketing into <b>Digital
                            marketing</b>, we can rest assured that this is a long lasting and sturdy business.</p>
                    <p>Today, <b>Digital marketing</b> is so vast that it’s difficult to keep up with it, not only with
                        its social trends but also with the technical aspect of <b>Digital marketing</b>.
                        <b>{{brandName}}</b> is buckled up to set its foot into this virtual jungle of marketing and
                        provide the best services that your company deserve.
                        Our team is always on the go and ready with creative blueprints of tomorrow’s trend and can
                        tackle any problem with their innovative and creative brainchild.
                        Let <b>{{brandName}}</b> handle and make our today’s idea, your tomorrow’s success.</p>
                </div>
            </div>

            <div class="col-lg-5 services-details-image">
                <img src="assets/img/hike/dm1.png" class="wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s"
                    alt="image">
            </div>
        </div>



    </div>
</section>
<!-- End Services Details Area -->




<section class="features-area-two  " style="padding-bottom: 80px;">
    <div class="container">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-lg-5 col-md-12">
                <div class="about-image wow fadeInUp" data-wow-delay="0.6s" style="text-align: center;">
                    <img src="assets/img/hike/dm44.png" alt="image">
                </div>
            </div>
            <div class="col-lg-7 col-md-12 services-content">
                <div class="section-title">
                    <h2>Digital Marketing</h2>
                    <div class="bar"></div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="box">
                            Search Engine Optimization (SEO)
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="box">
                            Search Engine Marketing (SEM)
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="box">
                            Content Marketing
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="box">
                            Social Media Marketing (SMM)
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="box">
                            Pay-Per-Click Advertising (PPC)
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="box">
                            Affiliated Marketing
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="box">
                            Email Marketing.
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="box">
                            SMS/Whatsapp Marketing.
                        </div>
                    </div>


                </div>
            </div>


        </div>
    </div>
</section>
<!-- Start Team Area -->
<!--<section class="team-area pt-80 pb-50 bg-f9f6f6">
    <div class="container">
            <div class="section-title">
                    <h2>Our Partner</h2>
                    <div class="bar"></div>
                   
                </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-team">
                    <div class="team-image">
                        <img src="assets/img/hike/client1.png" alt="image">
                    </div>

                    <div class="team-content">
                        
                        <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/hike/client2.png" alt="image">
                        </div>
    
                        <div class="team-content">
                            
                            <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                        <div class="single-team">
                            <div class="team-image">
                                <img src="assets/img/hike/client1.png" alt="image">
                            </div>
        
                            <div class="team-content">
                                
                                <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                            <div class="single-team">
                                <div class="team-image">
                                    <img src="assets/img/hike/client2.png" alt="image">
                                </div>
            
                                <div class="team-content">
                                    
                                    <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                                <div class="single-team">
                                    <div class="team-image">
                                        <img src="assets/img/hike/client1.png" alt="image">
                                    </div>
                
                                    <div class="team-content">
                                        
                                        <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                    <div class="single-team">
                                        <div class="team-image">
                                            <img src="assets/img/hike/client2.png" alt="image">
                                        </div>
                    
                                        <div class="team-content">
                                            
                                            <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                                        </div>
                                    </div>
                                </div>

            
        </div>
    </div>
</section>-->
<!-- End Team Area -->