<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h2>IT Maintenance</h2>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
</div>



<!-- Start Services Details Area -->
<section class="services-details-area ptb-80">
    <div class="container">
        <div class="row ">
            <div class="col-lg-6 services-details">
                <div class="services-details-desc wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s"
                    style="text-align: justify">

                    <div class="section-title" style="text-align: left;">
                        <h2>IT Maintenance</h2>
                        <div class="bar" style="float: left"></div>

                    </div>

                    <p class="mob_view"> An application is the face of a company, the frontier who has to suffice its
                        customer’s needs; and this requires a lot of elbow grease. But sure, there are end numbers of
                        companies who can guarantee the best service in the IT field; but there is one thing missing in
                        them all. </p>
                    <p><b>{{brandName}}</b> is an expert in providing an integrated solution to its client. We are
                        experienced in maintaining the latest software solutions and handling any application issues in
                        real-time, and with <b>{{brandName}}</b>, IT Maintenance for your application is in good hands
                        and well looked after. </p>


                </div>
            </div>

            <div class="col-lg-6 services-details-image">
                <img src="assets/img/hike/itm2.png" style="width: 410px;" class="wow fadeInUp" data-wow-delay="0.6s"
                    alt="image">
            </div>
        </div>

        <div class="separate"></div>

        <div class="row align-items-center">
            <div class="col-lg-6 services-details-image">
                <img src="assets/img/hike/itm33.png" class="wow fadeInUp" data-wow-delay="0.6s" alt="image">
            </div>

            <div class="col-lg-6 services-details">
                <div class="services-details-desc wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s"
                    style="text-align: justify">
                    <p>With these changing times the technology is changing even faster but <b>{{brandName}}</b> is
                        there to walk you through and provide the best service in the market. Whether it is Software
                        Maintenance and Support, E-commerce, Application Development, or (Enterprise Resource Planning)
                        ERP Software Development our team of experts can handle it efficiently. </p>
                    <p>We create the best blueprint for our clients that help them to attain their goals effectively.
                        Without any second thought, <b>{{brandName}}</b> is the best solution for your brand. </p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Details Area -->