<div>
    <div class="jumbotron" id="jumb">
        <div id="main">
            <img src="assets/images/Pharmeasy.jpg">
            <p id="info">Customer Acquisition for PharmEasy</p>
        </div>
        <div class="container" id="jumbcontainer">
            <div class="row justify-content-around" id="cols">
                <div class="col-md-3 col-xs-6">
                    <i class="fa fa-map-marker"> </i> Location
                    <P id="desc">All India</P>
                </div>
                <div class="col-md-3 col-xs-6">
                    <i class="fa fa-inr" aria-hidden="true"></i> Stipend
                    <p id="desc">Upto 7,000 in 3 weeks</p>
                </div>
                <div class="col-md-3 col-xs-6">

                    <i class="fa fa-calendar" aria-hidden="true"></i> Duration
                    <p id="desc"> Min 3 weeks</p>
                </div>
                <div class="col-md-3 col-xs-6">
                    <i class="fa fa-clock-o" aria-hidden="true"></i> Work Hours
                    <p id="desc">2-3 Hours/Day</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <!-- <div class="row">
                <div class="col-md-3  offset-md-1">
                    <p>About Internship </p>
                </div>
                <div class="col-md-3 offset-md-2">
                    <p>Qualification Test </p>
                </div>
            </div>
            <hr /> -->
            <div class="row" id="content">
                <div class="col-md-10  offset-md-1">
                    <p id="header"><b>About the Company</b></p>
                    <p id="para">PharmEasy is a medicine delivery mobile app which delivers medicine at your doorstep
                        within 24 hours without any delivery charges. Currently delivering in 12 major cities with cash
                        on delivery option available. For more details: <a
                            href="https://pharmeasy.in"><u>https://pharmeasy.in</u> </a>
                    </p>
                    <p id="header"><b>Roles & Responsibilities</b></p>
                    <ol>
                        <li> You will be responsible for acquiring new customers for the company PharmEasy</li>
                        <li> You need to approach potential customers in & around your location, pitch them the
                            advantages of ordering medicines from PharmEasy App</li>
                        <li> Convince the customer to download the PharmEasy App and make sure they place their first
                            order by using a special 20% discount promo code (promo code will be provided to you post
                            your selection)</li>
                        <li> Enter necessary details (like name, contact no. etc.) of the customer in the Awign App</li>
                        <li> You will be <b>trained</b> online by the respective manager on all the aspects of this
                            project including sales pitch, before you start your internship</li>
                    </ol>
                    <p id="conv"> You will be paid on the basis of number of <u><b>conversions</b></u> you do </p>
                    <p id="conv"> <u><b>conversions</b></u>- refers to successful delivery of the order placed by a
                        customer using your promo code.
                    </p>
                    <p id="header"><b>What you get? </b></p>
                    <ol>
                        <li> Earn upto <b>7000 INR in 3 weeks </b>by just devoting <b>2-3 hrs a day</b> </li>
                        <li><b>Internship Certificate</b>, after successful completion of the internship </li>
                        <li><b>Pre-placement interview offer</b> (Only for good performers) </li>
                        <li> Startup experience to level up your resume </li>
                        <li><b>Dedicated manager</b> for one-on-one mentorship throughout the course of your internship
                        </li>
                    </ol>
                    <p id="header"><b>Who can apply?</b></p>
                    <ol>
                        <li> Any Degree, Course, Branch or Year </li>
                        <li> Recent Graduates can also apply</li>
                        <li> Worried about securing a job in your campus placements or off-campus interviews? – Complete
                            this internship and become job ready
                        </li>
                        <li> Planning to do MBA? – Complete this internship and get prepared for your personal interview
                        </li>
                        <li> Pursuing MBA but lack confidence & relevant skills? - Learn real world management skills by
                            getting trained from IIT/IIM alumni
                        </li>
                    </ol>
                    <p id="header"><b>Qualification Test</b></p>
                </div>
            </div>
        </div>
        <section class="contact-area pb-80">
            <div class="container">
                <div class="row h-100 justify-content-center align-items-center" id="form">
                    <div class="col-lg-8 col-md-12">
                        <form id="contactForm" [formGroup]="registerForm" (ngSubmit)="processForm()">
                            <div class="row">
                                <div class="col-lg-12 col-md-6">
                                    <div class="form-group">
                                        <label for="salutation"> Salutation</label>
                                        <select class="form-control" formControlName="salutation" placeholder="Name"
                                            [ngClass]="{ 'is-invalid': submitted && f.salutation.errors }">
                                            <option value="" selected>Please select salutation</option>
                                            <option>Mr.</option>
                                            <option>Miss.</option>
                                        </select>
                                        <div class="help-block with-errors">
                                            <div *ngIf="submitted && f.salutation.errors" class="invalid-feedback">
                                                <div *ngIf="f.salutation.errors.required">Salutation is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <label for="fname"> First Name</label>
                                        <input type="text" formControlName="fname" id="fname" class="form-control"
                                            required data-error="Please enter your first name"
                                            [ngClass]="{ 'is-invalid': submitted && f.fname.errors }">
                                        <div class="help-block with-errors">
                                            <div *ngIf="submitted && f.fname.errors" class="invalid-feedback">
                                                <div *ngIf="f.fname.errors.required">Title is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <label for="lname"> Last Name</label>
                                        <input type="text" formControlName="lname" id="lname" class="form-control"
                                            required data-error="Please enter your last name"
                                            [ngClass]="{ 'is-invalid': submitted && f.lname.errors }">
                                        <div class="help-block with-errors">
                                            <div *ngIf="submitted && f.lname.errors" class="invalid-feedback">
                                                <div *ngIf="f.lname.errors.required">Title is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <label for="Email"> Email</label>
                                        <input type="email" formControlName="email" id="email" class="form-control"
                                            required data-error="Please enter your email"
                                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                        <div class="help-block with-errors">
                                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                                <div *ngIf="f.email.errors.required">Title is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="form-group">
                                        <label for="phone"> Phone Number</label>
                                        <input type="text" formControlName="phone_number" id="phone_number" required
                                            data-error="Please enter your number" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.phone_number.errors }">
                                        <div class="help-block with-errors">
                                            <div *ngIf="submitted && f.phone_number.errors" class="invalid-feedback">
                                                <div *ngIf="f.phone_number.errors.required">Title is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <textarea formControlName="message" class="form-control" id="message" cols="30"
                                            rows="5" placeholder="Your Message"
                                            [ngClass]="{ 'is-invalid': submitted && f.message.errors }"></textarea>
                                        <div class="help-block with-errors">
                                            <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                                                <div *ngIf="f.message.errors.required">Title is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <label for="date"> When can you start working at the earliest?</label> <br />
                                        <input type="date" formControlName="date" id="date" class="form-control"
                                            required data-error="Please enter your current city"
                                            [ngClass]="{ 'is-invalid': submitted && f.date.errors }">
                                        <div class="help-block with-errors">
                                            <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
                                                <div *ngIf="f.date.errors.required">Title is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <label for="Textarea1">Which city are you currently located in ?</label>
                                        <input type="text" formControlName="currentcity" id="city" class="form-control"
                                            required data-error="Please enter your current city"
                                            [ngClass]="{ 'is-invalid': submitted && f.currentcity.errors }">
                                        <div class="help-block with-errors">
                                            <div *ngIf="submitted && f.currentcity.errors" class="invalid-feedback">
                                                <div *ngIf="f.currentcity.errors.required">Title is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <label for="commit">Do you have any commitments for the next 3 weeks
                                            (exams/functions) ?</label>
                                        <select class="form-control" formControlName="commitments"
                                            [ngClass]="{ 'is-invalid': submitted && f.commitments.errors }">
                                            <option value="" selected>Please select one</option>
                                            <option>Yes</option>
                                            <option>No</option>
                                        </select>
                                        <div class="help-block with-errors">
                                            <div *ngIf="submitted && f.commitments.errors" class="invalid-feedback">
                                                <div *ngIf="f.commitments.errors.required">Title is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <label for="whours">Preferred working hours?</label>
                                        <select class="form-control" formControlName="working_hours"
                                            [ngClass]="{ 'is-invalid': submitted && f.working_hours.errors }">
                                            <option value="" selected>Please select one</option>
                                            <option>2-3 hours</option>
                                            <option>3-4 hours</option>
                                            <option>4-5 hours</option>
                                            <option>Full Day</option>
                                        </select>
                                        <div class="help-block with-errors">
                                            <div *ngIf="submitted && f.working_hours.errors" class="invalid-feedback">
                                                <div *ngIf="f.working_hours.errors.required">Title is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <label for="role">What will be your role in this internship?</label>
                                        <select class="form-control" formControlName="Internship_role"
                                            [ngClass]="{ 'is-invalid': submitted && f.Internship_role.errors }">
                                            <option value="" selected>Please select one</option>
                                            <option>Medicines Delivery</option>
                                            <option>PharmEasy App installation</option>
                                            <option>Both 2 & 4</option>
                                            <option>Convince customer</option>
                                        </select>
                                        <div class="help-block with-errors">
                                            <div *ngIf="submitted && f.Internship_role.errors" class="invalid-feedback">
                                                <div *ngIf="f.Internship_role.errors.required">Title is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <label for="addBen">Additional benefit(s) of ordering from PharmEasy that you
                                            can pitch to potential customers?</label>
                                        <select class="form-control" formControlName="Benefits"
                                            [ngClass]="{ 'is-invalid': submitted && f.Benefits.errors }">
                                            <option value="" selected>Please select one</option>
                                            <option>Free Home Delivery</option>
                                            <option>Cash on Delivery</option>
                                            <option>20% discount + 10% casback</option>
                                        </select>
                                        <div class="help-block with-errors">
                                            <div *ngIf="submitted && f.Benefits.errors" class="invalid-feedback">
                                                <div *ngIf="f.Benefits.errors.required">Title is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <button type="submit" class="btn btn-primary">Send Message</button>
                                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <p class="contactresponse"
                                        [ngClass]="{'contactsuccess': responseMessageType == 'success', 'contacterror':responseMessageType == 'error' }">
                                        {{responseMessage}}</p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>