<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h2>Customer Relationship Management</h2>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
</div>





<!-- Start Services Details Area -->
<section class="services-details-area ptb-80">
    <div class="container">
        <div class="row ">
            <div class="col-lg-6 services-details">
                <div class="services-details-desc wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s"
                    style="text-align: justify">

                    <div class="section-title" style="text-align: left;">
                        <h2>Customer Relationship Management </h2>
                        <div class="bar" style="float: left"></div>

                    </div>

                    <p class="mob_view">By the name itself, <b>Customer Relationship Management </b> is the relationship
                        between a customer and a company. <b>CRM</b> is the amalgamation of techniques, strategies, and
                        technology used by a company to maintain its relationship with its customer.</p>
                    <p>A <b>CRM</b> system will compile information from the company’s database like website, email,
                        telephone, social media followers, chats etc., to better understand their customer’s product
                        usage life-cycle and pitch them the product accordingly. In this way, the customer feels more
                        important as they know that the company is listening to them and the company gets loyal
                        customers.</p>
                    <p>So, to frame it better, <b>CRM</b> is a win-win situation for both parties.</p>

                </div>
            </div>

            <div class="col-lg-6 services-details-image">
                <img src="assets/img/hike/crm55.png" class="wow fadeInUp" style="width: 460px;" data-wow-delay="0.6s"
                    alt="image">
            </div>
        </div>

        <div class="separate"></div>

        <div class="row align-items-center">
            <div class="col-lg-6 services-details-image">
                <img src="assets/img/hike/crm53.png" class="wow fadeInUp" style="width: 390px" data-wow-delay="0.6s"
                    alt="image">
            </div>

            <div class="col-lg-6 services-details">
                <div class="services-details-desc wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s"
                    style="text-align: justify">
                    <p>We have understood the importance of <b>Customer Relationship Management</b> in this
                        technologically advanced society, which is why <b>{{brandName}}</b> provides the best-in-class
                        <b>Customer Relationship Management</b> for its client to increase their customer base.
                        <b>{{brandName}}</b> advances with a unique approach in maintaining the trust factor between the
                        two parties. We create a personal relationship with the customer, for them to connect the bridge
                        and better communicate on a commercial platform. Knowing that this information is very
                        important, we use the customer’s information only and only for business use with utmost
                        security.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Details Area -->