<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h2>Flyers</h2>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
</div>

<!-- Start Offline Marketing Details Area -->
<section class="services-details-area ptb-80">
    <div class="container">
        <div class="row ">
            <div class="col-lg-6 services-details">
                <div class="services-details-desc wow fadeInUp mob_view" data-wow-duration="0.6s" data-wow-delay="2s"
                    style="text-align: justify">

                    <div class="section-title" style="text-align: left;">
                        <h2>Flyers</h2>
                   <div class="bar" style="float: left"></div>

                    </div>
                    <p class="mob_view"> Flyers are the most familiar type of paper advertisement, and it takes us back in history 
                        100s of years. It is also known by different names like ‘flier’, ‘circular’, ‘handbill’, ‘poster’ etc.
                    </p>
                    <p>
                        A flyer is a single piece of paper which has the dimension of a standard A4 size paper that has printed 
                        advertisement giving information about your restaurant or a promotional offer offered by your restaurant.
                         Flyers are intended for wide distribution to reach a bigger audience but only in your vicinity because it
                          will be maddening to inform someone about your new restaurant who lives kilometres away. 
                    </p>
                </div>
            </div>

            <div class="col-lg-6 services-details-image">
                <img src="assets/img/hike/offlineMarketing/flyers01.png" class="wow fadeInUp" style="width: 400px" data-wow-delay="0.6s" alt="image">
            </div>
        </div>

        <div class="separate"></div>

        <div class="row align-items-center">
            <div class="col-lg-6 services-details-image">
                <img src="assets/img/hike/offlineMarketing/flyers02.png" class="wow fadeInUp" style="width: 390px" data-wow-delay="0.6s"
                    alt="image">
            </div>

            <div class="col-lg-6 services-details">
                <div class="services-details-desc wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s"
                    style="text-align: justify">
                    <p>There are more chances of creating new customers in your own area because customers may not be interested in
                         knowing about a restaurant’s offers or new dish which they cannot visit. Apart from this, whenever there is
                          -a festive season coming-up or you have an announcement to make, you can always include your flyer in one of
                           the local newspapers to spread the word; or, if you want to give-out discount vouchers, this can be the best
                            way to do it. 
                    </p>
                    <p>
                        Flyers are not only handed over but also hung in public places with the intention that people will notice
                         it and take a look at it.
                    </p>
                   <p>
                    Flyers are considered to be the cheapest mode of advertisement as it has the least investment and the information
                     is delivered to a considerably larger audience.
                   </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End OfflineMarketing Details Area -->