<div class="page-title-area">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <h2>Video Marketing on Social Media</h2>
                </div>
            </div>
        </div>
    
        <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
        <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
        <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
        <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
        <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    </div>
    
    
    
    
    
    <!-- Start Services Details Area -->
    <section class="services-details-area ptb-80">
        <div class="container">
            <div class="row ">
                <div class="col-lg-6 services-details">
                    <div class="services-details-desc wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s"
                        style="text-align: justify">
    
                        <div class="section-title" style="text-align: left;">
                            <h2>Video Marketing on Social Media </h2>
                            <div class="bar" style="float: left"></div>
    
                        </div>
    
                        <p class="mob_view">
                                Research shows by 2022, 82% of the Internet content will be in video format;
                                 around 1 billion hours of <b>YouTube video</b> is watched each day, which clearly indicates
                                  that marketing is no longer limited to TV ads and pamphlets.  
                                Video marketing on Instagram happens on IGTV, where restaurants 
                                can upload clips of food preparation and viewers can subscribe 
                                to their channel. In this way, restaurants can ensure that the 
                                viewer will be aware of their existence and will recognise the brand anywhere. 
                        </p><p>
                                <b>YouTube</b> on the other-hand is a video-sharing platform where you 
                                can advertise your brand on any video that the viewer will watch.
                                 <b>Video marketing on YouTube</b> is a win-win situation for any brand.
                                  <b>YouTube</b> is best known for recipe videos and people turn to YouTube for learning new dishes. 
                         </p>   
                    </div>
                </div>
    
                <div class="col-lg-6 services-details-image">
                    <img src="assets/img/hike/socialmedia-marketing/video-markerting-2.png" width="410px" class="wow fadeInUp" style="width: 460px;" data-wow-delay="0.6s"
                        alt="image">
                </div>
            </div>
    
            <div class="separate"></div>
    
            <div class="row align-items-center">
                <div class="col-lg-6 services-details-image">
                    <img src="assets/img/hike/socialmedia-marketing/video3.png" class="wow fadeInUp" style="width: 390px" data-wow-delay="0.6s"
                        alt="image">
                </div>
    
                <div class="col-lg-6 services-details">
                    <div class="services-details-desc wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s"
                        style="text-align: justify">
                        <p>
                                <b>WhatApp</b> is direct marketing, as you can connect to your customer directly on their number.
                                 <b>Marketing on WhatApp</b> is simple and direct; here you can give 
                                that special treatment to your customer by giving them exclusive coupons and vouchers. 
                        </p>
    
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Services Details Area -->