<div class="main-banner">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-lg-5">
                        <div class="hero-content">
                            <h1>Futuristic Solutions for all your restaurant marketing needs </h1>
                            <p>
                                Yome Foods is one of the finest restaurant media marketing services which specializes in providing creative and 
                                unparalleled solutions for all modern challenges. Our exceptionally talented team targets smartwork over 
                                everything which is the reason why Yome Foods stays focused in the toughest of situations.  
                            </p>

                            <a href="/contact" class="btn btn-primary">Get Started</a>
                        </div>
                    </div>

                    <div class="col-lg-6 offset-lg-1">
                        <div class="banner-image">
                            <img src="assets/img/hike/images/banner-image/man.png" class="wow fadeInDown"
                                data-wow-delay="0.6s" alt="man">
                            <img src="assets/img/hike/images/banner-image/code.png" class="wow fadeInUp"
                                data-wow-delay="0.6s" alt="code">
                            <img src="assets/img/hike/images/banner-image/carpet.png" class="wow fadeInLeft"
                                data-wow-delay="0.6s" alt="carpet">
                            <img src="assets/img/hike/images/banner-image/bin.png" class="wow zoomIn"
                                data-wow-delay="0.6s" alt="bin">
                            <img src="assets/img/hike/images/banner-image/book.png" class="wow bounceIn"
                                data-wow-delay="0.6s" alt="book">
                            <img src="assets/img/hike/images/banner-image/dekstop.png" class="wow fadeInDown"
                                data-wow-delay="0.6s" alt="dekstop">
                            <img src="assets/img/hike/images/banner-image/dot.png" class="wow zoomIn"
                                data-wow-delay="0.6s" alt="dot">
                            <img src="assets/img/hike/images/banner-image/flower-top-big.png" class="wow fadeInUp"
                                data-wow-delay="0.6s" alt="flower-top-big">
                            <img src="assets/img/hike/images/banner-image/flower-top.png" class="wow rotateIn"
                                data-wow-delay="0.6s" alt="flower-top">
                            <img src="assets/img/hike/images/banner-image/keyboard.png" class="wow fadeInUp"
                                data-wow-delay="0.6s" alt="keyboard">
                            <img src="assets/img/hike/images/banner-image/pen.png" class="wow zoomIn"
                                data-wow-delay="0.6s" alt="pen">
                            <img src="assets/img/hike/images/banner-image/table.png" class="wow zoomIn"
                                data-wow-delay="0.6s" alt="table">
                            <img src="assets/img/hike/images/banner-image/tea-cup.png" class="wow fadeInLeft"
                                data-wow-delay="0.6s" alt="tea-cup">
                            <img src="assets/img/hike/images/banner-image/headphone.png" class="wow rollIn"
                                data-wow-delay="0.6s" alt="headphone">

                            <img src="assets/img/hike/images/banner-image/main-pic.png" class="wow fadeInUp"
                                data-wow-delay="0.6s" alt="main-pic">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="assets/img/hike/images/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/hike/images/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="assets/img/hike/images/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/hike/images/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="assets/img/hike/images/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/hike/images/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/hike/images/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/hike/images/shape2.svg" alt="shape"></div>
</div>

<section class="boxes-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-box">
                    <div class="icon">
                        <i-feather name="server"></i-feather>
                    </div>
                    <h3>Creative Marketing at its Best</h3>
                    <p>
                         We hold expertise in utilizing the most popular social media platforms to our
                         advantage by our performance focused campaigns assisted by
                         our unmatched services array which we have cultivated over years of experience.
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-box bg-f78acb">
                    <div class="icon">
                        <i-feather name="code"></i-feather>
                    </div>
                    <h3>Activating the Technology</h3>
                    <p>
                        First impressions and so do your website and mobile applications when it comes to target groups. We are here to ensure that you are able
                        to make the ultimate first impression, every single time they decide to visit you!
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-box bg-c679e3">
                    <div class="icon">
                        <i-feather name="users"></i-feather>
                    </div>
                    <h3>Magnifying your Brand Image</h3>
                    <p>
                        Using effective communication strategies, campaign creativity along with the imaginative imagery you put forth in front of your audience 
                        segments matter the most for potential client conversions and better brand image.
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-box bg-eb6b3d">
                    <div class="icon">
                        <i-feather name="git-branch"></i-feather>
                    </div>
                    <h3>Business Modelling Tactics</h3>
                    <p>
                        Roadblocks while marketing and consulting with clients can often get frustrating. But with us, you can just relax while we take care 
                        of your clients and work on long term peak output and growth strategies.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="services-area " style="padding-bottom: 80px;">
    <div class="container">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-lg-6 col-md-12 services-left-image">
                <img src="assets/img/hike/images/services-left-image/big-monitor.png" class="wow fadeInDown"
                    data-wow-delay="0.6s" alt="big-monitor">
                <img src="assets/img/hike/images/services-left-image/creative.png" class="wow fadeInUp"
                    data-wow-delay="0.6s" alt="creative">
                <img src="assets/img/hike/images/services-left-image/developer.png" class="wow fadeInLeft"
                    data-wow-delay="0.6s" alt="developer">
                <img src="assets/img/hike/images/services-left-image/flower-top.png" class="wow zoomIn"
                    data-wow-delay="0.6s" alt="flower-top">
                <img src="assets/img/hike/images/services-left-image/small-monitor.png" class="wow bounceIn"
                    data-wow-delay="0.6s" alt="small-monitor">
                <img src="assets/img/hike/images/services-left-image/small-top.png" class="wow fadeInDown"
                    data-wow-delay="0.6s" alt="small-top">
                <img src="assets/img/hike/images/services-left-image/table.png" class="wow zoomIn" data-wow-delay="0.6s"
                    alt="table">
                <img src="assets/img/hike/images/services-left-image/target.png" class="wow fadeInUp"
                    data-wow-delay="0.6s" alt="target">
                <img src="assets/img/hike/images/services-left-image/cercle-shape.png" class="bg-image rotateme"
                    alt="shape">

                <img src="assets/img/hike/images/services-left-image/main-pic.png" class="wow fadeInUp"
                    data-wow-delay="0.6s" alt="main-pic">
            </div>

            <div class="col-lg-6 col-md-12 services-content">
                <div class="section-title">
                    <h2>A Robust Marketing Outlook</h2>
                    <div class="bar"></div>
                    <p>
                        <b>Yome Foods</b> ensures the applications and services we provide for digital marketing of your restaurants 
                        stay in top notch condition, focusing on design, development and structure in particular.    
                     </p>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="box" routerLink="/blockchain">

                            <i class="fa fa-code" aria-hidden="true"></i>
                            <span>Web and App development </span>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="box" routerLink="/ecommerce">
                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                            <span>Social media marketing</span>

                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="box" routerLink="/erp">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>Email Marketing</span>

                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="box" routerLink="/iot">
                            <i class="fa fa-line-chart" aria-hidden="true"></i>
                            <span>Analytics and Insights</span>

                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="box" routerLink="/app">
                            <i class="fa fa-mobile" aria-hidden="true" id="mobile"></i>
                            <span>Mobile Marketing</span>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="box" routerLink="/ui">
                            <i class="fa fa-building-o" aria-hidden="true"></i>
                            <span>Design and Branding</span>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="box" routerLink="/api">
                            <i class="fa fa-search-plus" aria-hidden="true"></i>
                            <span>Search Engine Optimization</span>

                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="box" routerLink="/customisable-software">
                            <i class="fa fa-adn" aria-hidden="true"></i>
                            <span>Paid Advertising using Google Ads and Social</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features-area ptb-80 bg-f7fafd">
    <div class="container">
        <div class="section-title">
            <h2>RIGHTEOUS MORALS AND HEALTHY PRACTICES</h2>
            <div class="bar"></div>
            <p>
                <b>{{brandName}}</b> believes in sky being the limit and aims to be the very best in the digital marketing realm.
            </p>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="single-features">
                    <div class="icon">
                        <i-feather name="settings"></i-feather>
                    </div>
                    <h3>Transparency</h3>
                    <p>You never have to worry about the confidential data you share with us</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-features">
                    <div class="icon">
                        <i-feather name="mail"></i-feather>
                    </div>

                    <h3>Performance focus</h3>
                    <p>We talk numbers that really matter to you
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-features">
                    <div class="icon bg-c679e3">
                        <i-feather name="grid"></i-feather>
                    </div>
                    <h3>Cost Effective</h3>
                    <p>Yes, we’re. For the quality of work we deliver, we surely are
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-features">
                    <div class="icon bg-c679e3">
                        <i-feather name="info"></i-feather>
                    </div>
                    <h3>Clean reporting</h3>
                    <p>Reports that you can easily understand and gauge our efforts from</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-features">
                    <div class="icon bg-eb6b3d">
                        <i-feather name="mouse-pointer"></i-feather>
                    </div>
                    <h3>Consistency</h3>
                    <p>We treat success only when it’s consistent, for your business
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-features">
                    <div class="icon bg-eb6b3d">
                        <i-feather name="bell"></i-feather>
                    </div>

                    <h3>Founder involvement</h3>
                    <p>One of the co-founders is always involved in strategic decisions
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<app-work-strategy></app-work-strategy>

<app-team-home></app-team-home>

<app-funfact></app-funfact>

<app-works></app-works>

<app-feedback></app-feedback>