<section class="funfacts-area ptb-80">
    <div class="container">
        <div class="section-title">
            <h2>We always try to understand users expectation</h2>
            <div class="bar"></div>
            <p>Before approaching any problem it is vital to understand the motivations behind it and that's why we
                believe in exceeding users expectations every time with our software.
            </p>
        </div>

        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="funfact">
                    <h3>
                        <ng2-odometer [number]="470" [config]="{ auto: true }" [observable]="observable"></ng2-odometer>
                    </h3>
                    <p>Loyal clients</p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="funfact">
                    <h3>
                        <ng2-odometer [number]="700" [config]="{ auto: true }" [observable]="observable"></ng2-odometer>
                    </h3>
                    <p>Software Delivered</p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="funfact">
                    <h3>
                        <ng2-odometer [number]="200" [config]="{ auto: true }" [observable]="observable"></ng2-odometer>
                    </h3>
                    <p>Plugin Developed</p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="funfact">
                    <h3>
                        <ng2-odometer [number]="360" [config]="{ auto: false }" [observable]="observable">
                        </ng2-odometer>
                    </h3>
                    <p>Application Delivered</p>
                </div>
            </div>
        </div>

        <div class="contact-cta-box">
            <h3>Have any question about us?</h3>
            <p>Don't hesitate to contact us</p>
            <a href="/contact" class="btn btn-primary">Contact Us</a>
        </div>

        <div class="map-bg">
            <img src="assets/img/hike/images/map.png" alt="map">
        </div>
    </div>
</section>