<section class="team-area ptb-80 bg-f9f6f6">
    <div class="container">
        <div class="section-title">
            <h2>
                Wanna join us to become the visionaries behind the next Billion-Dollar Digital Marketing Software? 
            </h2>
            <div class="bar"></div>
        </div>
        <p style="text-align: center;">
            If you are confident enough and back yourself to conceive the next potential billion-dollar software idea, then Yome Foods is ready to help you work through the sophisticated 
            design steps and lead the architecture of the project right up to its fruition. We are equipped with the latest cutting edge technology which is vital when it comes to
             delivering top of the line modern software products. Our team has field experience in a wide range of work situations which is why we have the trust of all the top guns. Wanna be the new top gun? Join us!     
        </p>
    </div>
    <div class="section-title" style="margin-top: 40px;">
        <h2> Business Verticles</h2>
        <div class="bar"></div>
    </div>
    <div class="row m-0">
        <owl-carousel-o class="owl-carousel" [options]="customOptions">
            <ng-template carouselSlide>
                <div class="col-lg-12">
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/hike/business-icon1.png" alt="image">
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Healthcare </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="col-lg-12">
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/hike/business-icon2.png" alt="image">
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Banking & Finance</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="col-lg-12">
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/hike/business-icon3.png" alt="image">
                        </div>

                        <div class="team-content">
                            <div class="team-info">
                                <h3>Travel</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="col-lg-12">
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/hike/business-icon4.png" alt="image">
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Real Estate </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
    <div class="container">
        <div class="section-title" style="margin-top: 20px;">
            <h2>Domain Expertise</h2>
            <div class="bar"></div>
        </div>
    </div>

    <div class="row m-0">
        <owl-carousel-o class="owl-carousel" [options]="customOptions">
            <ng-template carouselSlide>
                <div class="col-lg-12">
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/hike/food-icon.png" alt="image">
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Food And Beverage</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="col-lg-12">
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/hike/resturent-icon.png" alt="image">
                        </div>

                        <div class="team-content">
                            <div class="team-info">
                                <h3>Restaurant </h3>

                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="col-lg-12">
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/hike/domain-icon5.png" alt="image">
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Food Technology</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>

    <div class="container">
        <div class="section-title" style="margin-top: 20px;">
            <h2>Promising Tools</h2>
            <div class="bar"></div>
        </div>
    </div>

    <div class="row m-0">
        <owl-carousel-o class="owl-carousel" [options]="customOptions">
            <ng-template carouselSlide>
                <div class="col-lg-12">
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/hike/tools/appsflyer.jpg" alt="image">
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Apps Flyer</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="col-lg-12">
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/hike/tools/cognitive-seo.png" alt="image">
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Cognitive Seo</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="col-lg-12">
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/hike/tools/smilar-web-1.jpg" alt="image">
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Similar Web</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="col-lg-12">
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/hike/tools/followerwank.png" alt="image">
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Follower Wonk</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="col-lg-12">
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/hike/tools/google-analytic.png" alt="image">
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Google Analytics</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="col-lg-12">
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/hike/tools/hootsuite.jpg" alt="image">
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Hoot Suite</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="col-lg-12">
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/hike/tools/moat.jpg" alt="image">
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Moat</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="col-lg-12">
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/hike/tools/screaming-frog.jpg" alt="image">
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Node Js</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="col-lg-12">
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/hike/tools/semrush-1.jpg" alt="image">
                        </div>

                        <div class="team-content">
                            <div class="team-info">
                                <h3>Semrush</h3>

                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</section>